* {      
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}
body {  
	background: #4e699d;
	font-family: sans-serif;
}
  
label {     /* styling card details*/
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 450px;
	perspective: 1000px;
	transform-style: preserve-3d;
	transform: translate(-50%, -50%);
	cursor: pointer;
}
body{     /* Styling background */
	overflow: hidden;
	background: url('Images/homebg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	}
.flip-card {   /* styling card details*/
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.flip-card .front{   /* styling front face of a card*/
    text-align: center;
}
.flip-card .front,
.flip-card .back {  /* styling front & backface of a card*/
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgb(0,0,0,0.5);
    border: 1px solid salmon;;
	backface-visibility: hidden;
}

.flip-card .back { /* styling back face of a card*/
	transform: rotateX(180deg);
	color: #000;
	background: #fff;
}

label:hover .flip-card {  /* Rotating the card */
	transform: rotateX(2deg);
	box-shadow: 0 20px 20px rgba(50, 60, 60, 0.2);
}

input {    /* Checking whether the card is clicked to rotate or not */
	display: none;  
}

:checked + .flip-card {        /* If checked (Rotate) */
	transform: rotateX(180deg);
}
label:hover :checked + .flip-card {
	transform: rotateX(175deg);
	box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}
 /*Front face styling */
.front img {      
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.front p{
    margin-left: 630px;
    margin-top: 20px;
    color:wheat;
    font-family: sans-serif;
    letter-spacing: 1.4px;
	border: 1px solid salmon;
	width: 100px;
	border-radius: 15px;
}
.front h1 {
	font-size: 50px;
	color: #499bef;
}
.front h2 {
	font-size: 18px;
	color: #4e699d;
	margin: 12px 0 12px 0;
}

.front b {
	font-size: 14px;
	color: #424752;
	margin: 0 0 35px 0;
	display: block;
}

.front,
.back .click {
	font-size: 18px;
	font-weight: 600;
}
 /*Back face styling */
.back h1 {
	color: #424752;
	margin: 30px 0 0 0;
    text-align: center;
}

hr {
	width: 180px;
	margin: 15px auto 10px auto;
}
.back button{
    margin-left: 300px;
}

.back {
	font-size: 16px;
	color: #000;
	padding: 0 18px;
	line-height: 30px;
	margin-left: 150px;
	margin: 0 auto;
}
